
        img {
            width: 100%;
        }

        body {
            margin: 0;
            width: 100%;
        }

        header {
            margin-bottom: 5vw;
        }

h1, h2, h3, h4, h5, h6, p{
    font-family: Helvetica;
    color: #1c1c1c;
}

p {
    font-size: 13px;
}

        /*  Øverst i headeren*/

        .overst {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 10vw;
        }

        .frivillig {
            border-right-style: solid;
            border-color: darkgray;
            padding-left: 1vw;
            background-color: lightgray;

        }

        .frivillig a {
            text-decoration: none;
        }

        .frivillig:hover {
            background-color: darkgray;
        }

        .frivillig p {
            color: black;
        }

        .nyhedsbrev {
            padding-left: 1vw;
            background-color: lightgray;
        }

        .nyhedsbrev a {
            text-decoration: none;
        }

        .nyhedsbrev:hover {
            background-color: darkgray;
        }

        .nyhedsbrev p {
            color: black;
        }


.dropbtn {
    border: none;
    cursor: pointer;
    max-width: 25vw;
    max-height: 10vw;
    text-align: center;
    background-color: lightgray;
}

.dropbtn:hover{
    background-color: darkgray;
}

.nyhedsbrev {
    position: relative;
    display: inline-block;
}

.dropdown-form {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: lightgray;
}

.show {display: block;}




        /*  NAV*/

        /*

        .nav {
            overflow: hidden;
            background-color: #ffffff;
        }

        .nav a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 3px 8px;
            text-decoration: none;
        }

        .nav a:hover {
            background-color: darkgray;
            color: black;
        }

        .nav .search-container {
            float: right;
        }

        .nav input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 12px;
            border: none;
            background-color: #e8e8e8;
        }

        .nav .search-container button {
            float: right;
            padding: 6px 10px;
            margin-top: 8px;
            margin-right: 16px;
            background-color: lightgray;
            font-size: 12px;
            border: none;
            cursor: pointer;
        }

        .nav .search-container button:hover {
            background-color: darkgray;
        }
*/

        .navigaton {
            background-color: white;
            max-width: 480px;
            overflow: hidden;
        }

        #nav {
            display: none;
        }

        .navigaton a {
            color: black;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
        }

        .navigaton a.icon {
            background: white;
            display: block;
            right: 0;
            top: 0;
        }

        /*  INDHOLD*/

.container {
                display: grid;
            grid-template-columns: repeat 1fr ;
}


        .event-article {
            display: grid;
            grid-template-areas:
                "sted dato"
                "billede billede"
                "titel titel"
                "tekst kob";
            margin: 1vw;
            background-color: #ededed;



        }

        .data-titel {
            grid-area: titel;
            margin-left: 3vw;
        }

        .data-tid {
            grid-area: dato;
        }

        .data-sted {
            grid-area: sted;
            margin-left: 3vw;
        }

        .kob {
            grid-area: kob;
            border: solid black;
            text-align: center;
            max-width: 23vw;
            max-height: 13vw;
            text-decoration: none;
            color: black;
        }



        .kort-beskrivelse {
            grid-area: tekst;
            margin-left: 3vw;
        }

        .data-billede {
            grid-area: billede;
            max-width: 100%;
}

  /*  Knapper til filtrering */
        .eventtype {
            background-color: lightgray;
            border: none;
            color: black;
            margin-left: 1vw;
            padding: 12px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 10px;
            cursor: pointer;
        }

      .eventtype:hover{
            background-color: darkgray;
        }

        /*  FOOTER*/

        .foot-wrap {
            background-color: lightgray;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .adresse {
            padding-left: 3vw;
        }

        .adresse h2 {
            font-size: 18px;
        }

        .adresse p {
            font-size: 14px;
        }

        .kontakt h2 {
            font-size: 18px;
        }

        .kontakt p {
            font-size: 14px;
        }

        .åbningstider {
            padding-left: 3vw;
        }

        .åbningstider h2 {
            font-size: 18px;
        }

        .åbningstider p {
            font-size: 14px;
        }

       /*  MODAL*/

#modal {
            top: 0;
            width: 100vw;
            height: 100vh;
            position: fixed;
            background-color: rgba(0, 0, 0, .7);
            text-align: center;
            /*display: none;*/
            opacity: 0;
            pointer-events: none;
            transition: 1s;
        }

        #modal-content {
            width: 70vw;
            height: 100vh;
            background-color: rgba(250, 250, 250, 1);
            margin: auto;
            overflow: scroll;
        }

        #modal-tekst {
            text-align: left;
            margin: 1em;
        }

        #modal.vis {
            /*display: block;*/
            opacity: 1;
            pointer-events: all;
            transition: 0.5s;
        }

   /*  BLIV FRIVILLIG*/

 /*  WP content */

.frivillig-container{

    margin: 2vw;
}


   /*  Form */

.formular h2{
    margin: 2vw;
}

.formular h3{
    margin: 2vw;
}

.formular {
    background-color: #f8f8f8;
}
form {
    margin: 2vw;

}

textarea {
    width: 100%;
    max-width: 400px;
    height: 150px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 2px solid darkgrey;
    border-radius: 3px;
    background-color: #f8f8f8;
}

input[type=text] {
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid darkgrey;
    resize: vertical;
    background-color: #f8f8f8;
}

input[type=email] {
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid darkgrey;
    background-color: #f8f8f8;
}


input[type=submit] {
            background-color: lightgray;
            border: none;
            color: black;
            margin-left: 1vw;
            padding: 12px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 10px;
            cursor: pointer;
        }

input[type=submit]:hover{
            background-color: darkgray;
        }



   /*  MEDIA Q*/

@media screen and (min-width: 765px) {

        .container {

            display: grid;
            grid-template-columns: 1fr 1fr;
        }

    p {
    font-size: 15px;
}

    .overst {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 7vw;
        }
    .foot-wrap {
            background-color: lightgray;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

    .knapper {
        text-align: center;
    }

            button {
            font-size: 13px;
        }

    .navne {
        display: grid;
        grid-template-columns: 20% 50%;
    }


}


@media screen and (min-width: 1200px) {

    .overst {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 4.5vw;
        }

    .container {

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

    .kob {

            max-width: 8vw;
            max-height: 5vw;

        }

        .navne {
        display: grid;
        grid-template-columns: 10% 50%;
    }
}
